	.container{
		display: grid;
		height: 100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 100px 100px auto  100px;

	}

	.menu{
		background:purple;
		  grid-column-start: 1;
		  grid-column-end: -1;
		  grid-row-start: 1;
		  grid-row-end: 2;
		  color: white;
		  border:solid;
		  border-color: lavenderblush;

	}

	.header{
		  background: lightgreen;
		  grid-column-start: 1;
		  grid-column-end: -1;
		  grid-row-start: 2;
		  grid-row-end: 3;
		  text-align: center;
		  border:solid;
		  border-color: lavenderblush;
	}

	.sidebar{
		background: lightyellow;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		border:solid;
		border-color: lavenderblush;
	}

	img.bio{
		width: 100%;
		height: 100%
		border:solid;
		border-color: lavenderblush;
	}

	.konten{  
		background: violet;   
		grid-column: 2/-1;    
	 	display:grid;    
		grid-gap: 4px;
		border:solid;
		border-color: lavenderblush;
	}

	.subkonten{
	  color: white;
	  background: grey;    
	  grid-column: 1/-1;
	  padding: 20px 20px;
	  border:solid;
	  border-color: lavenderblush;
	}

	.footer{
		background: grey;
		grid-column: 1/-1;
		grid-row: 4/-1;
		padding: 10px; 
		text-align: center;
		border:solid;
		border-color: lavenderblush;
	}